img {
    width: 250px;
    height: 200px;
}

p {
    text-align: justify;
}

h1, h2, h3, h4 {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    display: block;
}

a:visited {
    color: black;
}

#filter a {
    line-height: 60px;
    margin: 0px;
    padding-left: 40px;
    color: sandybrown;
    font-family: Arial;
    font-weight: bold;
}

#filter a:hover, #checkout:hover{
    color: white;
    background-color: sandybrown;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#subList {
    margin-left: 30px;
}

li {
    list-style-type: none;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

form {
    padding: 25px;
}

#container {
    position: relative;
    width: 100%;
    min-height: 600px;
}

#header {
    position: absolute;
    width: 100%;
    box-shadow: 0px 0px 20px 0px grey;
    z-index: 3;
}

#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    min-height: 60px;
    z-index: 1;
}

#wrapper h1 {
    position: relative;
    margin: 0px;
    width: 200px;
    float: left;
    color: dimgrey;
    font-style: italic;
    font-size: 3em;
}

#wrapper p {
    float: left;
    color: sandybrown;
    padding-top: 5px;
}

#cartLink {
    float: right;
    display: block;
    padding: 20px;
}

#cartLink {
    color: sandybrown;
}

#cartLink:visited {
    color: sandybrown;
}

#mainBody {
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding-top: 60px;
    height: auto;
    overflow: hidden;
}

#footer {
    float: left;
    width: 100%;
    min-height: 50px;
    background-color: sandybrown;
}

#filter {
    position: absolute;
    width: 20%;
    float: left;
    height: 100%;
    background-color: whitesmoke;
    box-shadow: 10px 0px 7px -5px grey;
    z-index: 5;
}

#mainHolder {
    position: relative;
    width: 80%;
    min-height: 535px;
    height: auto;
    float: right;
    margin-top: -2px;
}

.productHolder {
    float: left;
    width: 340px;
    height: 400px;
    overflow: hidden;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

#productLink {
    color: dimgrey;
}

.productHolderFull {
    padding: 10px;
    float: left;
    width: 35%;
    height: auto;
    margin: 10px;
}

.descriptionHolder {
    padding: 10px;
    float: right;
    width: 50%;
    height: auto;
    margin: 10px;
    border-left: 1px solid grey;
}

.descriptionHolder p {
    text-align: justify;
}

#cartHolder {
    float: left;
    width: 720px;
    height: auto;
    max-height: 400px;
    overflow: hidden;
    border: 1px solid grey;
    margin: 10px;
    padding: 10px;
}

#cartHolder h1 {
    width: auto;
    float: right;
    margin: 10px;
    margin-top: 23px;
}

#title {
    width: auto;
    float: left;
    margin: 10px;
    margin-top: 33px;
}

#plus {
    width: auto;
    float: right;
    margin: 10px;
    margin-top: 30px;
}

#cartHolder h3 {
    width: auto;
    float: right;
    margin: 20px;
    margin-top: 35px;
}

#cartHolder h4 {
    width: auto;
    float: right;
    margin: 20px;
    margin-top: 38px;
}

#cartHolder button {
    margin-top: 35px;
    float: right;
}

#checkout{
    text-align: center;
    float: left;
    width: 200px;
    line-height: 60px;
    color: sandybrown;
    font-family: Arial;
    font-weight: bold;
    border: 1px solid antiquewhite;
}

.eachTotal {
    float: right;
    text-align: center;
}

.cartImg {
    width: 75px;
    height: 75px;
    float: left;
    margin: 10px;
}

#cartTitle {
    margin-left: 20px;
}

#total {
    width: auto;
    float: right;
    margin: 10px;
    margin-top: 15px;
}

input {
    font-size: 18px;
    width: 300px;
    height: 35px;
}

form h4 {
    color: gray;
}

form h3 {
    padding-top: 10px;
    height: 50px;
    width: 300px;
    display: block;
    text-align: center;
    color: sandybrown;
    background-color: white;
    font-size: 2em;
    border: 2px solid antiquewhite;
}

form h3:hover {
    color: white;
    background-color: sandybrown;
}

form p {
    color: red;
    font-weight: bold;
}

#confirmation {
    padding-left: 25px;
}

#popper {
    text-align: center;
    background-color: sandybrown;
    display: none;
    position: fixed;
    width: 200px;
    height: 60px;
    z-index: 1;
    border-radius: 10px;
}

#popper h3 {
    color: white;
}

